/* Never add display: flex on the unversal selector it is bad. */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Norse, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
}

.form_section{
 padding: 20px;
 width: min(850px, 90%);
 min-width: 500px;
}

.header {
  font-weight: bold;
}

form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 40px;
  margin: 40px auto;
  width: min(800px, 95%);
  padding: 1em;
  border: 1px solid rgb(215, 4, 102);
  border-radius: 1em;
}

input, label {
  display:block;
}

.cover_image {
  width: min(600px, 100%);
  overflow: hidden; /* Ensure the image doesn't exceed the container */
}

.cover_image img {
  width: 100%; /* Make the image fill the container */
  height: auto; /* Maintain aspect ratio */
}

button{
display: inline-block;
outline: none;
cursor: pointer;
font-size: 16px;
line-height: 20px;
font-weight: 600;
border-radius: 8px;
padding: 14px 24px;
border: none;
margin-bottom: 20px;
transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
color: #fff;
}